
body {

    background-color: #f1f1f1;

}




header {

    position: relative;

    width: 100%;
    min-height: 100vh;
    height: auto;

    background: url('public/headerBg.png') center no-repeat;
    background-size: cover;

    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

header h1 {
    position: relative;

    color: white;


    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;

    animation: textAnim 2s 1 forwards;
}

header h2 {

    color: rgb(146, 143, 143);

    font-weight: lighter;
    margin: 0 50px 20px 50px;

    animation: textAnim2 2.8s forwards;
    
}

@keyframes textAnim {


0% {

    color: transparent;
    margin-bottom: 100px;
    

}

30% {

    margin-bottom: 100px;
    color: transparent;

}

}

@keyframes textAnim2 {

    0% {

        color: transparent;
        transform: translateY(-100%);

    }

30% {


    color: transparent;
    transform: translateY(-100%);

}
    70% {

        color: transparent;


    }
}

.headerIcon {

    margin: 10px;

}

.headerIcon path, .headerIcon g {

    stroke-dasharray: 1000px;
    stroke-dashoffset: 1000px;

    fill-opacity: 0;

    animation: anim2 3s ease-in-out forwards;
    animation-delay: 2s;
}

@keyframes anim2 {

    to {

        stroke-dashoffset: 0px;
        fill-opacity: 1;

        transform: translateY(0);
    }


}

.indexLink {

    position: absolute;
    bottom: 20%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;

}

.aboutLink {
    
    width: 180px;
    height: 55px;

    background-color: #5e1128;
    

    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3),
    -1px -1px 3px rgba(255, 255, 255, 0.2);
                

               transition: 0.5s ease; 
               text-align: center;

    animation: buttonAnim 5s forwards;
   
    margin: 5px;
    
}

@keyframes buttonAnim {

0% {

    opacity: 0;


}

50% {


    opacity: 0;

}

}



.aboutLink {

    color: white;
    text-decoration: none;
  
    line-height: 55px;
}

.aboutLink:hover {

    background-color: black;
    transform: scale(0.95);

}

.aboutLink:hover > a {

    color: white;

}




.aboutSection {

    min-height: 100vh;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    background-color: #5e1128;
    box-shadow: 1px 1px 4px  rgba(0, 0, 0, 0.3),
                inset 1px 1px 4px  rgba(0, 0, 0, 0.3);

                padding-top: 60px;
}

.aboutSection h2 {

width: 60%;
text-align: center;

padding-bottom: 8px;
border-bottom: 1px solid #8C183A;

color: #cccbcb;
}

.aboutSection h3 {

    color: #979696;
    
    width: 100%;
    text-align: center;
    
    margin: 7px 0 20px 0;

    font-size: 18px;

}

.aboutSection p {

    

    margin: 25px 0;

    line-height: 30px;

}

.aboutMission {

border-right: 1px solid #8C183A;
max-width: 100%;
padding-right: 20px;
    
}

.aboutMission img{

    width: 220px;
    height: 220px;
    margin: 20px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #811133;
    shape-outside: circle(50%);
    float: left;
}

.aboutMission p {

    max-width: 100%;
    width: 600px;

    margin: 20px 0;
    
    text-align: justify;

    color: #aaa9a9;

}

.aboutMission p:first-of-type {

    margin: 30px 0;

}

.aboutMission h4 {


    height: auto;

    color: #c9c4c4;

}

.aboutMissionText span {

    
    font-weight: bold;


}




.skills, .honoraires, .contact {

    position: relative;

    min-height: 100vh;
    height: auto;

    padding: 20px;

}

.skills {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(245, 239, 239);


}

.skills h2 {


    color: rgb(44, 44, 44);

    margin: 45px;
    

}

.skills img {

    width: 600px;
    max-width: 90%;
    height: 200px;

    object-fit: cover;

    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4),
                -1px -1px 4px rgba(0, 0, 0, 0.2);

}

.rowSkillContainer {

display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;

max-width: 98%;
height: auto;

}

.skillContainer {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    min-height: 220px;
    height: auto;
    max-width: 98%;
    width: 700px;
    

    margin: 20px 15px;
    padding: 15px;



    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5),
                -1px -1px 8px rgba(255, 255, 255, 0.3);

                border-radius: 5px;
}

.skillTextContent {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 70%;
    height: auto;

 
}

.skillTextContent h3 {

    text-decoration: underline;

    margin: 15px 0;
    min-height: 70px;
    line-height: 70px;
    height: auto;
}

.skillIcon {

    width: 150px;
    height: 150px;

}



.skillIcon path, .skillIcon rect, .skillIcon polygon{

    transform: translateY(100%);
    fill-opacity: 0;

    animation: anim2 1.5s ease-in-out forwards;

}


.firstSpace {

    width: 70%;

    margin: 15px 0;

}


.actus {

    position: relative;

    min-height: 100vh;
    height: auto;
    width: 100%;

}



.homeContact {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


    top: -40px;
  
    min-height: 70vh;
    height: auto;
  
  
  }
  
  .homeContactItem {
  
    width: 50%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    height: 70vh;
  
    border-bottom: 1px solid grey;
  
  }
  
  .homeContactItem:first-of-type {
  
    background-color: #5e1128;
  
  }
  
  .homeContactItem:last-of-type {
  
  background: url('public/contactBG.jpg') center no-repeat;
  background-size: cover;
  
  
  } 
  
  .homeContact ul {
  
    width: 500px;
    max-width: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  
    margin: 15px 0;
  
  }
  
  .homeContact ul li {
  
    list-style-type: none;
    color: #f1f1f1;

  
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  
  .homeContact h4 {
  
    color: grey;
    margin: 20px 0;
  
  }
  
  .homeContact span {
  
  padding: 15px;
  background-color: black;
  border-radius: 3px;
  
  color: #f1f1f1;
 
  
  }
  
  .homeContact a {
  
    text-decoration: none;
    padding: 15px;
  
    background-color: #5e1128;
    border-bottom-left-radius: 30px;
    color: #f1f1f1;
  
 
    text-decoration: underline;
  
  }
  
  .homeContact span, .homeContact a {
  
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    
  
  }
  
  .homeContact span:nth-of-type(2), .homeContact span:nth-of-type(3) {
  
    margin-top: 35px;
  
  }
  
  .homeContact svg {
  
    width: 30px;
    height: 30px;
  
    margin: 0 15px;
  
  }


/* _______________________________________________MEDIA QUERIES_________________________________________ */


@media screen and (max-width: 1120px) {

    .homeContact{
  
      flex-direction: column;
  
  
    }
  
    .homeContactItem {
  
      width: 100%;
  
    }
  
  }



@media screen and (max-width: 1200px) {


    header {

        flex-direction: column;

    }

    .headerTextContent {

        text-align: center;

    }

    .aboutMissionText {

        width: 100%;

    }

   


}

@media screen and (max-width: 620px){


    .aboutMission {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .homeContact h4 {

        margin: 20px;

    }


}

@media screen and (max-width: 680px) {


    

    header h1 {


        margin: 0 20px;

    }

    .headerIcon {

        width: 200px;

    }

    .aboutSection h2 {


        width: 85%;

    }

    .aboutSection h3 {

        align-self: unset;

    }

    .aboutMission {

        width: 88%;

    }

    .skillContainer {

        justify-content: center;

        background: linear-gradient(to bottom, white, 48%, #5e1128 48%);

    }


    .skills h2 {


        margin: 40px 0px;
        text-decoration: underline;

        text-align: center;

    }

    .skillIcon {

        width: 120px;
        height: 120px;

        margin: 10px;

    }

    .skillTextContent {

        width: 90%;

    }

    .skillTextContent h3 {

        text-align: center;
        align-self: center;

        color: #f1f1f1;

        min-height: 40px;
        height: auto;
        line-height: 40px;

    }

    .skillTextContent p {


        line-height: 32px;

    }


    .firstHonorairesContent {

        width: 92%;

        margin: 20px 0;

    }

    .honorairesItems h4 {

        line-height: 30px;
        min-height: 30px;

    }

    .honorairesItems p {

        text-align: center;

    }


    .avocatForm a {

        text-align: center;

    }

    .infoContact {

        width: 99%;

    }

    .infoContact ul{

        align-items: center;

    }

    .contact h3 {

        margin: 25px 0;

    }

    .infoContact ul li {

        margin: 20px 0;
        justify-content: center;

        width: 99%;

        

    }

    .infoContact img {

        width: 30px;
        height: 30px;

    }

 
 }


@media screen and (max-height: 550px) {


    .headerIcon {

        width: 120px;
        height: 120px;

    }

    .aboutLink {

        height: 40px;
        line-height: 40px;
        bottom: 5%;

    }

        .homeContact ul h4{
      
          align-self: center;
          text-decoration: underline;
      
        }
      
        .homeContact ul li, .homeContact h4 {
      
          text-align: center;
      
        }
      
      


}

@media screen and (max-width: 420px)  {

.h2 .honorairesItems h4, .h2 .honorairesItems p {

    text-align: center;
    
}

.h2 .honorairesItems p {

background-color: #8C183A;
color: #c9c4c4;

}

.contact {

    padding: 20px 0;

}

.avocatLink {

    margin: 30px 5px;

}

.firstHonorairesContent {

    width: 100%;

}

.honorairesItems {

    flex-direction: column;
    max-width: 100%;

}

.honorairesItems h4 {

    width: auto;
    padding: 5px;
    text-align: center;

}

.h2 .honorairesItems h4 {

    width: auto;

}

}

@media screen and (max-width: 400px) {

    .indexLink {

        flex-direction: column;
        bottom: 10%;

    }

    .aboutLink {

        width: 150px;
        height: 40px;

        line-height: 40px;

    }

}

@media screen and (max-width: 380px) {

    .headerIcon {

        width: 150px;

    }
    

}





@media screen and (max-width: 200px) {

    header h1 {

        margin: 0 5px;

    }

}
